<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If Else</title>
</head>

<body>
    {% if login %}
    <h2>Welcome to Login Page</h2>
    <ol>
        <h4>
            <li>Home</li>
        </h4>
        <h4>
            <li>Profile</li>
        </h4>
        <h4>
            <li>Cart</li>
        </h4>
    </ol>

    {% else %}

    <h4>
        <li>Register</li>
    </h4>
    <h4>
        <li>Login</li>
    </h4>

    {% endif %}

    {% if a > b %}
    <h3>a is greater</h3>
    {% else %}
    <h3>b is greater</h3>
    {% endif %}


</body>

</html>